#nav-bar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar {
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--primary-dark-color)
  );
  padding: 0 !important;
}

.navbar-brand img {
  height: 40px;
  padding-left: 20px;
}
.navbar-nav{
    margin-left: auto;
}
.nav-item{
    padding: 0 10px;
    text-align: right;

    font-size: 20px;
    font-weight: 300 ;
}

.nav-link{
    color: var(--white-color) !important;
    text-transform: uppercase;
    
    
    font-weight: 400;
}

.fa-bars{
    color: var(--white-color);
    font-size: 30px;
}

.navbar-toggler{
    outline: none;
    
}