.service{
    padding: 100px 0;
}
.service__col-4{
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}
.service__img{
    width: 100px;
    margin-top: 20px;

}
.service__title{
    margin-top: 20px;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;

}
.service__desc{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;

}



.service__btn{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}