.testimonial{
    padding: 50px 0;
    margin: 50px 0;
}
.testimonial__heading{

}
.testimonial__col{
    margin-top: 30px;
    border-left: 3px solid var(--primary-color);
    margin-left: 20px;
}
.testimonial__desc{
    font-size: 16px;
    font-weight: 200;
    line-height: 1.4;
}
.testimonial__user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial__user h5{
    font-size: 20px;
    font-weight: 500;
}
.testimonial__user img{
    border-radius: 50%;
    width: 50px;
    margin: 10px;
    display: inline-block;
}

